body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.caixa {
    background-color: black;
    width: 242px;
    height: 472px;
    border-radius: 10px;
    margin: auto;
}
.caixa_numero {
    color: white;
    padding: 16px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    float: left;
    font-family: monospace;
    font-size: 25px;
    margin: 4px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display_numerico {
    color: white;
    padding-right: 15px;
    padding-top: 90px;
    text-align:right;
    height: 65px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}
.botões {
    padding: 11px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    align-content: center;
    position: 50%;
}
.zero {
    background-color: #483D3F;
    height: 16px;
    width: 70px;
    text-align: left;
    justify-content: flex-start;
}
.operadores {
    background-color: orange;
}
.operadores1 {
    background-color: gray;
}
.cor_numeros {
    background-color: #483D3F;
}
.operadores:hover {
    background-color: beige;
}
.operadores1:hover {
    background-color: beige;
}
.cor_numeros:hover {
    background-color: beige;
}
.zero:hover {
    background-color: beige;
}